@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gimcheon Library!</h1>
</div>



<div>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <Admin />
            <a class="btn btn-primary" asp-controller="Books" asp-action="Create">Add Book</a>
            <br />
            <br />
            <a class="btn btn-primary" asp-controller="Books" asp-action="Index">View all books</a>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Normal">
        <Authorized>
            <Normal />
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView>
        <NotAuthorized>
            <div>
                <p>Please log in to access the library</p>
            </div>
            <div>
                <a href="Identity/Account/Register">Register</a>
            </div>
            <div>
                <a href="Identity/Account/Login">Log in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
