@{
    ViewData["Title"] = "Home Page";
}

<div>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <Admin />
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Normal">
        <Authorized>
            <Normal />
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView>
        <NotAuthorized>
            <div>
                <p>Please log in to access the library</p>
            </div>
            <div>
                <a href="Identity/Account/Register">Register</a>
            </div>
            <div>
                <a href="Identity/Account/Login">Log in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
